/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.socialContainer {
  @apply flex flex-row mt-4;
}

.footer {
  @apply text-white flex items-center justify-center;
}
