/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.socialContainer {
  @apply flex flex-row mt-4;
}

body {
  font-family: "Poppins";
  font-display: swap;
  overflow-x: hidden;
}

* {
  padding: 0px;
  margin: 0px;
}

.bz-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.bz-button {
  background: #facc15;
  color: #713f12;
  cursor: pointer;

  &:hover {
    background: #ca8a04;
    color: #ffffff;
  }
}