/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.socialContainer {
  @apply flex flex-row mt-4;
}

body {
  font-family: 'Poppins';
  font-display: swap;
  overflow-x: hidden;
}

* {
  padding: 0px;
  margin: 0px;
}

.bz-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.bz-button {
  background: #facc15;
  color: #713f12;
  cursor: pointer;

  &:hover {
    background: #ca8a04;
    color: #ffffff;
  }
}

.contact-section {
  @apply py-8 xl:py-32  w-full flex flex-col items-center justify-center px-5 lg:flex-row gap-10 container max-w-7xl;

  &-image {
    @apply w-1/2 lg:flex flex-col justify-center items-center;

    & img {
      @apply lg:w-3/4 flex justify-start items-start;
    }
  }
  &-content {
    @apply w-full lg:w-1/2 flex items-center flex-col;

    & h2 {
      @apply text-3xl lg:text-4xl pt-10 text-gray-700;
    }
    & p {
      @apply py-4 text-center;
    }
    & button {
      @apply bz-button py-2 w-full rounded md:w-1/2;
    }
  }
}
