/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.socialContainer {
	@apply flex flex-row mt-4;
}

body {
	font-family: 'Poppins';
	font-display: swap;
	overflow-x: hidden;
}

* {
	padding: 0px;
	margin: 0px;
}

.bz-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #cbd5e0;
	border-radius: 100vh;
	border: 3px solid #edf2f7;
}

::-webkit-scrollbar-thumb:hover {
	background: #a0aec0;
}

.bz-button {
	@apply bg-violet-500 text-violet-100 cursor-pointer tracking-widest;

	&:hover {
		@apply shadow-xl;
	}
}

.contact-section {
	@apply py-8 xl:py-32  w-full flex flex-col items-center justify-center px-5 lg:flex-row gap-10 container max-w-7xl;

	&-image {
		@apply w-1/2 lg:flex flex-col justify-center items-center;

		& img {
			@apply lg:w-3/4 flex justify-start items-start;
		}
	}
	&-content {
		@apply w-full lg:w-1/2 flex items-center flex-col;

		& h2 {
			@apply text-3xl lg:text-4xl pt-10 text-gray-700;
		}
		& p {
			@apply py-4 text-center;
		}
		& button {
			@apply bz-button py-2 w-full rounded md:w-1/2;
		}
	}
}

.contact-form {
	@apply pt-10 w-full lg:w-1/2 md:px-20;

	&-input {
		@apply block w-full px-2 appearance-none border rounded border-gray-300 bg-transparent py-2.5 text-sm text-gray-900 outline-none autofill:bg-none focus:border-yellow-600  focus:ring-0 dark:border-gray-600;

		&-label {
			@apply absolute top-3 mx-2 z-10 px-1 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 bg-slate-100 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:-z-10 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:z-10   dark:text-gray-400 peer-focus:text-yellow-600;
		}
	}
}

.about-tech-tag {
	@apply bg-slate-400 text-gray-100 px-2 text-lg rounded-lg inline-block mb-2;

	&-see-all {
		@apply bg-slate-600 text-gray-200 px-2 text-lg rounded-lg;
	}
}

blockquote {
	font-family: Georgia, serif;
	position: relative;
	margin: 0.5em;
	padding: 0.5rem 2rem 0.5rem 3rem;
}

blockquote:before {
	font-family: Georgia, serif;
	position: absolute;
	font-size: 6rem;
	line-height: 1;
	top: 0;
	left: 0;
	content: '\201C';
}
blockquote:after {
	font-family: Georgia, serif;
	position: absolute;
	/* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
	float: right;
	font-size: 6rem;
	line-height: 1;
	right: 0;
	bottom: -0.5rem;
	content: '\201D';
}
blockquote footer {
	padding: 0 2rem 0 0;
	text-align: right;
}
blockquote cite:before {
	content: '\2013';
}
